[Unit]
Description=uWSGI instance to serve {{ project.name }}:{{ project.version }}
After=network.target

[Service]
User={{ user.name }}
Group=www-data
ExecStart={{ path.remote.dir.venv }}/bin/uwsgi --ini {{ path.remote.dir.version }}/uwsgi.ini
Restart=always
KillSignal=SIGQUIT

[Install]
WantedBy=multi-user.target
