[uwsgi]
chdir = {{ path.remote.dir.code }}
module = __django.wsgi:application
virtualenv = {{ path.remote.dir.venv }}

master = true
processes = 5

chmod-socket = 660
socket = {{ path.remote.file.uwsgi_socket }}

vacuum = true

die-on-term = true
