certifi==2018.8.24
chardet==3.0.4
Click==7.0
feedgen==0.7.0
Flask==1.0.2
-e git://github.com/ckuhl/FlatterPages.git@4a7eccdd7c9b40f41b89b22000cbdb59789c44ec#egg=FlatterPages
idna==2.7
itsdangerous==0.24
Jinja2==2.10
lxml==4.2.5
Markdown==2.6.11
MarkupSafe==1.0
peewee==3.7.1
Pygments==2.2.0
python-dateutil==2.7.3
PyYAML==3.13
requests==2.19.1
six==1.11.0
urllib3==1.23
uWSGI==2.0.17.1
Werkzeug==0.14.1
