{% extends "base/container.html" %}
{% block title %}About | Chris Kuhl{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<div class="page-header">
	<h1>About</h1>
	<b>Some things about me</b>
</div>
<section>
	<p>
	I'm a full-time business student at Wilfrid Laurier University, as well
	as a full-time computer science student at the University of Waterloo.
	</p>
	<p>
	In addition, I also trade my summer semesters for co-op placements,
	allowing me to learn how my in-class experiences translates to work
	out in the real world.
	</p>
	<p>
	In my spare time I like to program various things that I
	<a href="/blog/image-block-x/">find useful</a>, as well as write
	<a href="/blog/">blog posts</a> about anything interesting that I run
	into.
	</p>
</section>

<h2>Contact</h2>
<section>
	<p>
	Want to get in touch? Feel free to email me at
	<a href="mailto:contact@ckuhl.com">contact@ckuhl.com</a>.
	</p>
</section>
{% endblock %}
{% block js %}{% endblock %}
