{% extends "base/container.html" %}
{% block title %}Chris Kuhl{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<h1 class="h2">From the Blog</h1>
<section>
	{% for a in articles %}
	<div>
		<h2 class="h3">
			<a href="{{ url_for('blog.post', path=a.path) }}">
				{{ a.title }}
			</a>
		</h2>
		<i>Published <span>{{ a.created|datetimeformat('%Y-%m-%d') }}</span></i>
		<section>{{ a.html|teaser|safe }}</section>
		<a href="{{ url_for('blog.post', path=a.path) }}">Read more</a>
		<hr>
	</div>
	{% else %}
	<p>Nothing here! Something must have gone wrong...</p>
	{% endfor %}

	<p>View <a href="/blog/index/">all blog posts</a>.</p>
</section>

<h1 class="h2">Projects</h1>
<section>
	{% if projects %}<dl>{% endif %}
		{% for p in projects %}
		<dt><a href="{{ url_for('portfolio.project', path=p.path) }}">{{ p.title }}</a></h3>
	<dd>{{ p.description }}</dd>
	{% else %}
	<p>Nothing here! Something must have gone wrong...</p>
	{% endfor %}
	{% if projects %}</dl>{% endif %}
<p>If you want to see more, take a look at my
<a href="/portfolio/">portfolio</a> to see all of my projects.
</p>
</section>
{% endblock %}
{% block js %}{% endblock %}
