{% extends "base/container.html" %}
{% block title %}Chris Kuhl{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<h1 class="h1">From the Blog</h1>
{% for a in articles %}
<div class="card my-3">
	<div class="card-body">
		<h2 class="h4 card-title"><a href="{{ url_for('blog.post', path=a.path) }}">{{ a.title }}</a></h2>
		<h3 class="h6 text-muted">Written <span>{{ a.created|datetimeformat('%Y-%m-%d') }}</span></h3>
		{{ a.html|teaser_sentence|safe }}
		<a class="btn btn-outline-primary" href="{{ url_for('blog.post', path=a.path) }}">Read more</a>
	</div>
</div>
{% else %}
<p>Nothing here! Something must have gone wrong...</p>
{% endfor %}

<p>View <a href="/blog/index/">all blog posts</a>.</p>


<h1 class="h1">From my portfolio</h1>
{% for p in projects %}
<div class="card my-3">
	<div class="card-body">
		<h2 class="h4 card-title"><a href="{{ url_for('portfolio.project', path=p.path) }}">{{ p.title }}</a></h2>
		{{ p.description }}
	</div>
</div>
{% else %}
<p>Nothing here! Something must have gone wrong...</p>
{% endfor %}

<p>If you want to see more, take a look at my
<a href="/portfolio/">portfolio</a> to see all of my projects.
</p>
{% endblock %}
{% block js %}{% endblock %}
