<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>{% block title %}Christian Kuhl{% endblock %}</title>
    <meta name="description" content="The personal site of Christian Kuhl">
    <meta name="author" content="Christian Kuhl">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts -->
    <!-- No fonts for you! -->

    <!-- CSS -->
    <style>#instantclick {display: none;}</style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap4-theme-superhero.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">-->
    {% block styles %}{% endblock %}

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>

    <!-- Primary Page Layout -->
    <div class="container">
        {% include "base/header.html" %}
        {% block content %}{% endblock %}
        {% include "base/footer.html" %}
    </div>

<!-- End Document -->
</body>

<!-- Javascript -->
<script src="{{ url_for('static', filename='js/instantclick-3.1.0.min.js') }}" data-no-instant></script>
<script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}" data-no-instant></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>

</html>
