<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>{% block title %}Christian Kuhl{% endblock %}</title>
    <meta name="description" content="The personal site of Christian Kuhl">
    <meta name="author" content="Christian Kuhl">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts -->
    <!-- No fonts for you! -->

    <!-- CSS -->
    <style>#instantclick {display: none;}</style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap4-theme-superhero.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    {% block css %}{% endblock %}

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>

    <!-- Primary Page Layout -->
    <div class="container">
        {% include "base/header.html" %}
        {% block content %}{% endblock %}
        {% include "base/footer.html" %}
    </div>

<!-- Analytics -->
<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript" data-no-instant>
var sc_project=11570898;
var sc_invisible=1;
var sc_security="f9b4fbbf";
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="http://statcounter.com/" target="_blank" data-no-instant><img
class="statcounter"
src="//c.statcounter.com/11570898/0/f9b4fbbf/1/" alt="Web
Analytics"></a></div></noscript>
<!-- End Document -->
</body>

<!-- Javascript -->
<script src="{{ url_for('static', filename='js/instantclick-3.1.0.min.js') }}" data-no-instant></script>
<script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}" data-no-instant></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>
{% block js %}{% endblock %}
</html>
