<nav id="footer" class="navbar navbar-dark bg-primary navbar-bottom mt-3">
	<div class="mx-auto">
		<span class="navbar-text">© Chris Kuhl <script>document.write(new Date().getFullYear())</script></span>

			<a href="mailto:contact@ckuhl.com" class="navbar-link btn btn-outline-secondary" title="Contact me by email">
				<span class="navbar-text fa fa-envelope fa-lg" aria-hidden></span>
			</a>

			<a href="https://ckuhl.com/blog/rss/" class="navbar-link btn btn-outline-secondary" title="Blog RSS feed">
				<span class="navbar-text fa fa-rss fa-lg" aria-hidden></span>
			</a>

			<a href="https://github.com/ckuhl/" class="navbar-link btn btn-outline-secondary" title="My GitHub profile">
				<span class="navbar-text fa fa-github fa-lg" aria-hidden></span>
			</a>
	</div>
</nav>
