<nav id="footer" class="navbar navbar-dark bg-primary navbar-bottom mt-3">
	<div class="mx-auto">
		<span class="navbar-text">© Chris Kuhl <script>document.write(new Date().getFullYear())</script></span>

		<a href="https://ckuhl.com/blog/rss/" class="btn btn-outline-secondary" title="Blog RSS feed">
			<span class="navbar-text fa fa-rss fa-lg" aria-hidden></span>
		</a>

		<a href="https://github.com/ckuhl/" class="btn btn-outline-secondary" title="My GitHub profile">
			<span class="navbar-text fa fa-github fa-lg" aria-hidden></span>
		</a>
	</div>
</nav>
