{% extends "base/container.html" %}
{% block title %}About | Christian Kuhl{% endblock %}
{% block styles %}{% endblock %}
{% block content %}
<div class="page-header">
	<h1>About <small>Some things about me</small></h1>
</div>
<p>
I'm a full-time business student at Wilfrid Laurier University, as well
as a full-time computer science student at the University of Waterloo.
</p>
<p>
In addition, I also trade my summer semesters for co-op placements, allowing me
to develop an understanding of the real world application of what I learn in
class.
</p>

<h1>Contact</h1>
<p>
Want to get in touch? Feel free to email me at 
<a href="mailto:contact@ckuhl.com">contact@ckuhl.com</a>.
</p>
<br>
{% endblock %}
