{% extends "base/container.html" %}
{% block title %}About | Christian Kuhl{% endblock %}
{% block styles %}{% endblock %}
{% block content %}
<h1 class="title">About me</h1>
<p>
I'm a full-time business student at Wilfrid Laurier University, as well
as a full-time computer science student at the University of Waterloo.
How? Plenty of coffee, and a sacrifice of electives to fit in both. Between
the two schools I am learning both the macro and micro level of problem
solving, from where it fits in a business environment, all the way down to
the implementation details in the code.
</p>
<p>
Speaking of implementation, I have real-world experience as a co-op
student, working with partners of the school to apply my knowledge and
solve problems that businesses face.
</p>

<h1 class="title">Get in touch</h1>
<p>
Want to get in touch? Feel free to drop me a line at
<a href="mailto:contact@ckuhl.com">contact@ckuhl.com</a>.
</p>
<br>
{% endblock %}
