{% extends "base/container.html" %}
{% block title %}About | Christian Kuhl{% endblock %}
{% block styles %}{% endblock %}
{% block content %}
<h1 class="title">About me</h1>
Business at Wilfrid Laurier University, Computer Science at the University of Waterloo.
<br>
At the same time.
<br>
Left brain, right brain? Sure that's nice. But when you need someone with a full brain, give me a call.
<!-- <div>
    <img src="{{ url_for('static', filename='img/christian.jpg') }}" title="Why hello there" style="width:20rem; height: 20rem; align-self: center">
</div> -->
{% endblock %}
