{% extends "base/container.html" %}
{% block title %}Home | Christian Kuhl{% endblock %}
{% block styles %}{% endblock %}
{% block content %}
<!-- nb. this should mirror the order of the header -->
<h2 class="main">About me</h2>
<section>
    Intern and student, businessman and computer scientist.
</section>

<h2 class="main">What I've done</h2>
<section>
    <ul class="main-list">
        <li class="main-list">Wrote a game back in high school</li>
        <li class="main-list">Made an entire website, from scratch</li>
        <li class="main-list">Did other stuff too, but you'll have to ask me in person!</li>
    </ul>
</section>

<h2 class="main">Some of my writings</h2>
<section>
    {% if articles %}<ul class="main-list">{% endif %}
    {% for a in articles %}
        <li class="main-list">
            <div>
                <b>{{ a.created }}</b>
                <a href="{{ url_for("blog_post", path=a.path) }}">{{ a.title }}</a>
            </div>
        </li>
    {% else %}
    <p>Nothing here! Expect some writings in the future.</p>
    {% endfor %}
    {% if articles %}</ul>{% endif %}
    <p>
        Want to read more? See <a href="/blog">everything I've written</a> on
        my blog!
    </p>
</section>

<h2 class="main">Like what you see?</h2>
<section>
    Feel free to drop me a line at
    <a href="mailto:contact@christiankuhl.com">contact@christiankuhl.com</a>.
</section>
{% endblock %}
