{% extends "base/container.html" %}
{% block title %}Portfolio | Christian Kuhl{% endblock %}
{% block styles %}{% endblock %}
{% block content %}
<h1 class="title">Portfolio</h1>
<h2 class="subtitle">Here are some things I've made:</h2>
<section>This website. Made with:
<ul>
    <li>Python 3</li>
    <li>Flask</li>
    <li>Flask-Flatpages</li>
    <li>InstantClick</li>
    <li>And much more...</li>
</ul>
</section>
<h2 class="heading">Still interested?</h2>
You can find more work on my <a href="https://github.com/ckuhl/">GitHub account</a>.
<pre>// TODO: Lay out project page more nicely</pre>
{% endblock %}
