{% extends "base/container.html" %}
{% block title %}Portfolio | Christian Kuhl{% endblock %}
{% block styles %}{% endblock %}
{% block content %}
<h1 class="title">Things</h1>
<h2 class="subtitle">Here are some things I've made that I'm proud of</h2>
This website. Made with:
<ul>
    <li>Python 3</li>
    <li>Flask</li>
    <li>Not too much else...</li>
</ul>

<h2 class="heading">Still interested?</h2>
You can find more work on my <a href="https://github.com/k-u-h-l/">GitHub account</a>.
{% endblock %}
