{% extends "_base/container.html" %}
{% load static %}
{% block title %}{{ post.title }} | Chris Kuhl{% endblock %}
{% block header %}
    {% with True as in_blog %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    {# Core content #}
    <h1 class="h1 my-3">{{ post.title }}</h1>
    <div>{{ post.body|safe }}</div>
    <p class="small">Written {{ post.date }}{% if post.updated %}, updated {{ post.updated }}{% endif %}</p>

    {# Managing tags #}
    {% if post.tags %}
        <div>
    {% endif %}
{% if post.tags %}
    <span class="fa fa-tags" aria-hidden="true"></span>
    <span> Tags: </span>
{% endif %}
{% for tag in post.tags %}
    <a class="badge badge-secondary" href="{% url 'blog:tags' tag %}">{{ tag }}</a>
{% endfor %}
{% if post.tags %}
    </div>
{% endif %}

    {# Next / previous post #}
    <div class="h5 mt-5 d-flex justify-content-between">
        {% if prev_post %}
            &#9664; <a class="ml-0 mr-auto" href="{% url 'blog:post' prev_post.url %}">{{ prev_post.title }}</a>
        {% endif %}
        {% if next_post %}
            <a class="ml-auto mr-0" href="{% url 'blog:post' next_post.url %}">{{ next_post.title }}</a> &#9654;
        {% endif %}
    </div>

{% endblock %}
