{% extends "_base/container.html" %}
{% block title %}Blog | Chris Kuhl{% endblock %}
{% block header %}
    {% with True as in_blog %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
{% block content %}
    <h1 class="h1 my-3">Posts tagged: {{ tag }}</h1>
    {% for p in posts %}
        <div class="card my-3">
            <div class="card-body">
                <h2 class="h4 card-title"><a href="{% url 'blog:post' p.path %}">{{ p.title }}</a></h2>
                <h3 class="h6 text-muted">Written {{ p.date }}</h3>
                {{ p.body|safe }}
            </div>
        </div>
    {% empty %}
        <p>There are no blog posts that are tagged "{{ tag }}"!</p>
    {% endfor %}
{% endblock %}
