{% extends "base/container.j2" %}
{% set active = "portfolio" %}
{% block title %}Portfolio | Chris Kuhl{% endblock %}
{% block css %}{% endblock %}
{% block pre-js %}{% endblock %}
{% block content %}
<h1 class="h1 my-3">Portfolio</h1>
{% for p in projects %}
<div class="card my-3">
	<div class="card-body">
		<h2 class="h4 card-title"><a href="{{ url_for('portfolio.project', path=p.path) }}">{{ p.title }}</a></h2>
		<p class="card-text">{{ p.description }}</p>
	</div>
</div>
{% else %}
<p>No projects right now... check back later!</p>
{% endfor %}
{% endblock %}
{% block post-js %}{% endblock %}
