{% extends "base/container.j2" %}
{% set active = "portfolio" %}
{% block title %}{{ post.title }}{% endblock %}
{% block css %}{% endblock %}
{% block pre-js %}{% endblock %}
{% block content %}
<h1 class="h1 my-3">{{ post.title }}</h1>
<div>{{ post.html|safe }}</div>
<span class="fa fa-calendar" aria-hidden="true"></span>
Written {{ post.created|datetimeformat('%B %e, %Y') }}{% if post.updated != post.created %}, updated {{ post.updated|datetimeformat('%B %e, %Y') }}{% endif %}

{% if post.repo %}
<span class="fa fa-github" aria-hidden="true"></span>
<a href={{ post.repo }}>View the source</a>
{% endif %}
{% endblock %}
{% block post-js %}{% endblock %}
