{% extends "base/container.j2" %}
{% set active = "portfolio" %}
{% block title %}{{ post.title }}{% endblock %}
{% block css %}{% endblock %}
{% block pre_js %}{% endblock %}
{% block content %}
    <h1 class="h1 my-3">{{ post.title }}</h1>
    <div>{{ post.html|safe }}</div>
    <div>
        <span class="fa fa-calendar" aria-hidden="true"></span>
        Written {{ post.created|format_datetime('%B %e, %Y') }}
    </div>

    {% if post.repo %}
        <div>
            <span class="fa fa-github" aria-hidden="true"></span>
            <a href={{ post.repo }}>View the source</a>
        </div>
    {% endif %}
{% endblock %}
{% block post_js %}{% endblock %}
