{% extends "base/container.j2" %}
{% set active = "about" %}
{% block title %}About | Chris Kuhl{% endblock %}
{% block css %}{% endblock %}
{% block pre_js %}{% endblock %}
{% block content %}
<h1 class="h1 my-3">About</h1>
<p class="lead">Some things about me</p>
<h2 class="h4">The school things</h2>
<p>
	I'm a double degree student, pursuing both a bachelor of computer
	science from the
	<a href="https://en.wikipedia.org/wiki/University_of_Waterloo">
	University of Waterloo</a> and a bachelor of business
	administration from
	<a href="https://en.wikipedia.org/wiki/Wilfrid_Laurier_University">
	Wilfrid Laurier University</a>, just down the road.
</p>
<p>
	What do business and computer science have in common? Not much! That's
	the advantage the program &mdash; it makes you think in two completely
	different ways. Where computer scientists approach a problem in
	absolutes, aiming to prove a proof, or write a program, business
	students focus on chosing what may be the best solution among a group
	of trade-offs.
</p>

<h2 class="h4">The side project things</h2>
<p>
	I enjoy programming outside of school too! Often it's just to solve my
	own problems, but sometimes other people
	<a href="/portfolio/image-block-x/"> find my solutions useful too</a>.
	Regardless of what I'm getting up to, I try to write about about
	what I learn. The way I see it, if I learn something that would have
	saved me some time, maybe it can still save someone else some time.
</p>

<h2 class="h4">Contact</h2>
<p>
	Want to get in touch? Feel free to email me at
	<a href="mailto:contact@ckuhl.com">contact@ckuhl.com</a>.
</p>
{% endblock %}
{% block post_js %}{% endblock %}
