{% extends "base/container.j2" %}
{% block title %}Chris Kuhl{% endblock %}
{% block css %}{% endblock %}
{% block pre_js %}{% endblock %}
{% block content %}
<section class="mt-2 mb-5">
<div class="jumbotron my-3">
	<h1 class="display-4">Hi, I'm Chris!</h1>
	<p class="lead">I'm a computer science student at the University of
	Waterloo, but also completing a BBA at Wilfrid Laurier University.</p>

	<p>I love solving problems, whether that be through programming,
	communication, or some combination of the two.</p>
</div>
</section>
<section class="mb-5">
<h1 class="h1 mb-3">From the Blog</h1>
{% for a in articles %}
<div class="card my-3">
	<div class="card-body">
		<h2 class="h4 card-title"><a href="{{ url_for('blog.post', path=a.path) }}">{{ a.title }}</a></h2>
		<h3 class="h6 text-muted">Written <span>{{ a.created|datetimeformat('%Y-%m-%d') }}</span></h3>
		{{ a.html|teaser_sentence|safe }}
		<a class="btn btn-outline-primary" href="{{ url_for('blog.post', path=a.path) }}">Read more</a>
	</div>
</div>
{% else %}
<p>Nothing here! Something must have gone wrong...</p>
{% endfor %}
{% if articles %}
<div class="card my-3">
	<div class="card-body">
		<h2 class="h4 card-title"><a href="{{ url_for('blog.index') }}">Looking for something else?</a></h2>
		<p>To see more, take a look at the
		<a href="{{ url_for('blog.index') }}">blog archive</a> to see all of my blog posts.
		</p>
	</div>
</div>
{% endif %}
</section>

<section>
<h1 class="h1 my-3">From my portfolio</h1>
{% for p in projects %}
<div class="card my-3">
	<div class="card-body">
		<h2 class="h4 card-title"><a href="{{ url_for('portfolio.project', path=p.path) }}">{{ p.title }}</a></h2>
		<p>{{ p.description }}</p>
		<a class="btn btn-outline-primary" href="{{ url_for('portfolio.project', path=p.path) }}">Read more</a>
	</div>
</div>
{% else %}
<p>Nothing here! Something must have gone wrong...</p>
{% endfor %}
{% if projects %}
<div class="card my-3">
	<div class="card-body">
		<h2 class="h4 card-title"><a href="{{ url_for('portfolio.index') }}">Still interesed?</a></h2>
		<p>If you want to see more, take a look at my
		<a href="{{ url_for('portfolio.index') }}">portfolio page</a> to see all of my projects.
		</p>
	</div>
</div>
{% endif %}
</section>
{% endblock %}
{% block post_js %}{% endblock %}
