/* Global overrides vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
/* Make the container _much_ narrower */
@media (min-width: 768px) {
	.container { max-width: 730px; }
}

/* Use native font stack to make things faster and nicer */
:root {
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Remove all-caps headers */
* { text-transform: none; }

/* Override bootstrap & theme font */
body, .tooltip, .popover { font-family: var(--font-family-sans-serif); }

/*
Force each page to _at least_ be the size of the window.

This makes the footer go to the bottom of the page, and not just the bottom of the content.
*/
html, body, div.root { min-height: 100vh; }

/* Stylistic changes to make text more legible */
body {
	font-size: 1.1rem;
	font-weight: 300;
	color: #222222;
}

/* Make text more legible */
p {
	letter-spacing: initial;
	font-size: larger;
}


/* Style headers to look Apple-esque */
h1, h2, h3, .h1, .h2, .h3 {
	text-transform: none;
	font-weight: 900 !important;
	letter-spacing: 0;
}

/* Style headers to look Apple-esque */
h4, h5, h6, .h4, .h5, .h6 {
	text-transform: none;
	font-weight: 800 !important;
	letter-spacing: 0;
}

/* Make links more visible in paragraphs */
p a {
	text-decoration: underline;
	font-weight: bolder;
}

/* Fit images to width of paragraph */
p img { max-width: 100%; }

/* End of global overrides ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* Codehilite styles vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
.codehilitetable {
	width: 100%;
	height: auto;
	overflow: auto;
}

/* End of Codehilite styles ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* Jumbotron customization vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron { border-bottom: 0; }

	/* Fill text is extra-light to contrast extra-heavy header */
	.jumbotron p { font-weight: 200; }
}

/* Prevent Jumbotron headers from being ALL CAPS */
.jumbotron h1.display-4 { text-transform: initial; }

/* End of Jumbotron customization ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* Header navbar vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
/* Make word mark big */
#header .navbar-brand {
	font-weight: 900 !important;
	letter-spacing: 0;
	font-size: 2rem;
	line-height: normal;
}

#header a.nav-link {
	font-size: 1.25rem;
	font-weight: 900;
	margin: 0 0 0 0;
}

#header li.nav-item {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

/* Make navbar slimmer (p-0 on large devices, p-2 on small devices) */

/*
Extra small devices (portrait phones, less than 576px)
Default size, no media query needed
*/
.navbar { padding: 0.5rem; }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.navbar { padding: 0.5rem; }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.navbar { padding: 0.5rem; }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.navbar { padding: 0; }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.navbar { padding: 0; }
}

/* End of header navbar ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
