<nav id="footer" class="navbar navbar-bottom navbar-expand-lg">
    <ul class="navbar-nav">
        <li class="nav-item"><a href="{% url 'core:about' %}" class="nav-link">© Chris Kuhl<script>document.write(new Date().getFullYear().toString())</script></a></li>
        <li class="nav-item"><a href="{% url 'blog:rss' %}" class="nav-link">RSS</a>
        <li class="nav-item"><a href="mailto:contact@ckuhl.com" class="nav-link">Email</a></li>
        <li class="nav-item"><a href="https://github.com/ckuhl/" class="nav-link">GitHub</a></li>
        <li class="nav-item"><a href="https://www.linkedin.com/in/c-kuhl/" class="nav-link">LinkedIn</a></li>
    </ul>
</nav>