<nav id="footer" class="navbar navbar navbar-bottom mt-3 p-0">
    <div class="mx-auto">
        <a href="{% url 'core:about' %}" class="navbar-link navbar-text mx-2">© Chris Kuhl <script>document.write(new Date().getFullYear().toString())</script></a>
        <a href="{% url 'blog:rss' %}" class="navbar-link navbar-text mx-2">RSS</a>
        <a href="mailto:contact@ckuhl.com" class="navbar-link navbar-text mx-2">Email</a>
        <a href="https://github.com/ckuhl/" class="navbar-link navbar-text mx-2">GitHub</a>
        <a href="https://www.linkedin.com/in/c-kuhl/" class="navbar-link navbar-text mx-2">LinkedIn</a>
    </div>
</nav>