{% extends "base/container.j2" %}
{% block title %}403 Forbidden{% endblock %}
{% block css %}{% endblock %}
{% block pre_js %}{% endblock %}
{% block content %}

    <div class="jumbotron">
        <h1>403 Forbidden</h1>
        <p>This content isn't ready for the showtime yet</p>
    </div>

{% endblock %}
{% block post_js %}{% endblock %}
