{% extends "base/container.html" %}
{% set active = "tools" %}
{% block title %}Tools | Chris Kuhl{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<div class="page-header">
	<h1>Tools</h1>
	<b>Some handy tools</b>
</div>
<p>
Similar to blogging about similar issues I've faced before, sometimes I come
up with little "What-if" calculators in Excel, or similar tools, and figure
that maybe other people would find them usefull too.
</p>
<pre>TODO: Actually complete this page</pre>
<ul>
	<li>
		<div>
			<a href="#">Example tool 1</a>
		</div>
	</li>
	<li>
		<div>
			<a href="#">Example tool 2</a>
		</div>
	</li>
	<li>
		<div>
			<a href="#">Example tool 3</a>
		</div>
	</li>
</ul>
{% endblock %}
{% block js %}{% endblock %}
