{% extends "base/container.html" %}
{% block title %}Blog | Christian Kuhl{% endblock %}
{% block styles %}{% endblock %}
{% block content %}

<h1 class="title">Words</h1>
<h2 class="subtitle">Some things I've written</h2>
{% if pages %}<ul>{% endif %}
{% for page in pages %}
    <li>
        <div>
            <b>{{ page.date }}</b>
            <a href="{{ url_for("blog_post", path=page.path) }}">{{ page.title }}</a>
        </div>
    </li>
{% else %}
    <p>Nothing here! Expect some writings in the future.</p>
{% endfor %}
{% if pages %}</ul>{% endif %}

{% endblock %}
