{% extends "base/container.html" %}
{% block title %}Blog | Christian Kuhl{% endblock %}
{% block styles %}{% endblock %}
{% block content %}

<h1 class="title">Blog</h1>
<h2 class="subtitle">Some things I've written</h2>
<p>
    As I come up with ideas, I like to write about them to sort them out and
    really solidify what I'm thinking. Since I have a blog, I figure I may as
    well publish them while I'm at it.
</p>
{% if articles %}<ul>{% endif %}
{% for a in articles %}
    <li>
        <div>
            <b>{{ a.created }}</b>
            <a href="{{ url_for("blog_post", path=a.path) }}">{{ a.title }}</a>
        </div>
    </li>
{% else %}
    <p>Nothing here! Expect some writings in the future.</p>
{% endfor %}
{% if articles %}</ul>{% endif %}

{% endblock %}
