{% extends "base/container.html" %}
{% block title %}Blog | Christian Kuhl{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<div class="page-header">
	<h1>Blog</h1>
	<b>Some things I've written</b>
</div>
<p>
As I come up with ideas, I like to write about them to sort them out and
really solidify what I'm thinking. Since I have a blog, I figure I may as
well publish them while I'm at it.
</p>
{% if articles %}<ul>{% endif %}
	{% for a in articles %}
	<li>
		<div>
			<span>{{ a.created|numericdate }}</span>
			<a href="{{ url_for('blog.post', path=a.path) }}">{{ a.title }}</a>
		</div>
	</li>
	{% else %}
	<p>Nothing here! Expect some writings in the future.</p>
	{% endfor %}
	{% if articles %}</ul>{% endif %}

{% endblock %}
{% block js %}{% endblock %}
