{% extends "base/container.j2" %}
{% set active = "blog" %}
{% block title %}Blog | Chris Kuhl{% endblock %}
{% block css %}{% endblock %}
{% block pre_js %}{% endblock %}
{% block content %}
<h1 class="h1 my-3">Blog Index</h1>
{% if articles %}<div class="list-group">{% endif %}
	{% for a in articles %}
	<a href="{{ url_for('blog.post', path=a.path) }}"
		class="list-group-item list-group-item-action flex-column align-items-start">
		<div class="d-flex w-100">
			<small class="text-muted mr-1">
				{{ a.created|datetimeformat('%Y-%m-%d') }}
			</small>
			<h2 class="h5">{{ a.title }}</h5>
		</div>
	</a>
	{% else %}
	<p>Nothing here! Expect some writings in the future.</p>
	{% endfor %}
{% if articles %}</div>{% endif %}
{% endblock %}
{% block post_js %}{% endblock %}
