{% extends "base/container.j2" %}
{% set active = "blog" %}
{% block title %}{{ post.title }} | Chris Kuhl{% endblock %}

{% block css %}
	{% for style in post.styles %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/' + style) }}">
	{% endfor %}
{% endblock %}

{% block pre_js %}
	{% for script in post.scripts %}
		<script src="{{ url_for('static', filename='js/' + script) }}"></script>
	{% endfor %}
{% endblock %}

{% block content %}
	{# Body content #}
	<h1 class="h1 my-3">{{ post.title }}</h1>

	<div>{{ post.html|safe }}</div>

	<div>
	<span class="fa fa-calendar" aria-hidden="true"></span>
	Written <abbr title="{{ post.created }}">{{ post.created|datetimeformat('%B %e, %Y') }}</abbr>{% if post.updated != post.created %}, updated <abbr title="{{ post.updated }}">{{ post.updated|datetimeformat('%B %e, %Y') }}</abbr>{% endif %}
	</div>
	{% if post.tags %}<div>{% endif %}
		{% if post.tags %}
			<span class="fa fa-tags" aria-hidden="true"></span>
			<span> Tags: </span>
		{% endif %}
		{% for tag in post.tags %}
		<a class="badge badge-secondary" href="{{ url_for('blog.tag_page', slug=tag) }}">{{ tag }}</a>
		{% endfor %}
	{% if post.tags %}</div>{% endif %}
{% endblock %}

{% block post_js %}{% endblock %}
