{% extends "base/container.html" %}
{% block title %}Blog | Christian Kuhl{% endblock %}
{% block styles %}{% endblock %}
{% block content %}

<h1 class="title">Posts tagged: {{ tag }}</h1>
{% if articles %}<dl class="dl-horizontal">{% endif %}
{% for a in articles %}
	<dt>
	<b>{{ a.created }}</b>
	</dt>
	<dd>
	<a href="{{ url_for("blog_post", path=a.path) }}">{{ a.title }}</a>
	</dd>
{% else %}
	<p>Nothing tagged with {{ tag }}!</p>
{% endfor %}
{% if articles %}</ul>{% endif %}

{% endblock %}
