{% extends "base/container.html" %}
{% block title %}Blog | Chris Kuhl{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<h1 class="title">Posts tagged: {{ tag }}</h1>
{% if articles %}<ul>{% endif %}
{% for a in articles %}
	<li>
	<b>{{ a.created|datetimeformat('%Y-%m-%d') }}</b>
	<a href="{{ url_for('blog.post', path=a.path) }}">{{ a.title }}</a>
	</li>
{% else %}
	<p>Nothing tagged with {{ tag }}!</p>
{% endfor %}
{% if articles %}</ul>{% endif %}
{% endblock %}
{% block js %}{% endblock %}
