{% extends "base/container.j2" %}
{% set active = "wiki" %}
{% block title %}{{ content.title }} | Chris Kuhl's Wiki{% endblock %}
{% block css %}{% endblock %}
{% block pre_js %}{% endblock %}
{% block content %}<div>{{ content.html|safe }}</div>{% endblock %}
{% block post_js %}{% endblock %}
