{% extends "_base/container.html" %}
{% block title %}About | Chris Kuhl{% endblock %}
{% block css %}{% endblock %}
{% block pre_js %}{% endblock %}
{% block header %}
    {% with True as in_about %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
{% block content %}
    <h1 class="h1 my-3">About</h1>
    <section>
        <h2 class="h4">School</h2>
        <p>
            I'm a double degree student, pursuing both a bachelor of computer
            science from the
            <a href="https://en.wikipedia.org/wiki/University_of_Waterloo">
                University of Waterloo</a> and a bachelor of business
            administration from
            <a href="https://en.wikipedia.org/wiki/Wilfrid_Laurier_University">
                Wilfrid Laurier University</a>, just down the road.
        </p>
    </section>
    <section>
        <h2 class="h4">Work</h2>
        <p>
            In between semesters at school, I have the opportunity to do work
            semesters with all sorts of cool businesses. In the past I have had the
            opportunity to work at startups in Welland, ON and Vancouver, BC. In
            fact, I loved the company in Vancouver so much I've returned for a
            second semester!
        </p>
    </section>
    <section>
        <h2 class="h4">Projects</h2>
        <p>
            Usually I'm working on a side project or three. Often it's just to
            solve my own problems, but sometimes other people find my solutions
            too. In fact, a web browser extension I wrote
            <a href="{% url 'portfolio:project' 'image-block-x' %}">
                a web browser extension I wrote</a> now has more than 3000 daily
            active users.
        </p>
    </section>
    <section>
        <h2 class="h4">Blog</h2>
        <p>
            In between all of the above, I'm always trying to write about what I'm
            learning. If it's something I didn't know before, chances are someone
            else doesn't know either! So I'm trying to share the wealth.
        </p>
    </section>
{% endblock %}
{% block post_js %}{% endblock %}
