{% extends "base/container.html" %}
{% set active = "travel" %}
{% block title %}Travels | Chris Kuhl{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<h1 class="display-4">My Travels</h1>
{% for a in articles %}
<div class="card my-3">
	<div class="card-body">
		<h2 class="h4 card-title"><a href="{{ url_for('travel.post', path=a.path) }}">{{ a.title }}</a></h2>
		<h3 class="h6 text-muted">Written {{ a.created|datetimeformat('%Y-%m-%d') }}</h3>
		{{ a.html|safe }}
	</div>
</div>
{% else %}
<p>Nothing here! Something must have gone wrong...</p>
{% endfor %}

{% endblock %}
{% block js %}{% endblock %}
