<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>{% block title %}Christian Kuhl's website{% endblock %}</title>
    <meta name="description" content="Christian Kuhl's Personal Website">
    <meta name="author" content="Christian Kuhl">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts -->

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    {% block styles %}{% endblock %}

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>

    <!-- Primary Page Layout -->
    <div class="container">
        {% include "header.html" %}
        {% block content %}{% endblock %}
        {% include "footer.html" %}
    </div>

<!-- End Document -->
</body>
</html>
